.home {
    width: 95%;
    margin: 1rem auto;
    padding: 15px;
}

@media(max-width: 450px){
    .home {
        width: 70%;
    }   
}

@media(max-width: 770){
    .home {
        width: 90%;
    }   
}